@charset "utf-8";

div.actions {
	float:left;
	width:100%;
	padding-bottom: 10px;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}
div.actions a, input[type=submit]{
	background: #FE980F;
	border: 0 none;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	width: 175px;
	margin-right: 5px !important;
}
dd{
	background-color: #f9f9f9;
}
.div-centered {
    width: 500px;
    display: block;
    margin-left: 25%;
}
.input-group-btn button{
    border: 1px solid transparent !important;
}

/* SQL log */
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}
